<h1>Carrito de Compras</h1>

{{#each products}}
  <div>
    <p>Producto: {{title}}</p>
    <p>Cantidad: {{quantity}}</p>
    <p>Total: {{totalPrice}}</p>
    <button class="btn" onclick="deleteProduct('{{../cartId}}', '{{_id}}')">Eliminar</button>
  </div>
{{/each}}

<h2>Total del carrito: {{totalPurchase}}</h2>

<form action="/api/carts/{{cartId}}/purchase" method="POST">
  <button type="submit">Finalizar Compra</button>
</form>

<script src="/js/productsCart.js"></script>
